<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_new/button/checkbox/active</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1616,1466},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/checkbox/check</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1708,1466},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/checkbox/empty</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1736,746},{74,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/button/default/check</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{184,92}</string>
                <key>textureRect</key>
                <string>{{1576,1184},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/default/check_x2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,92}</string>
                <key>spriteSourceSize</key>
                <string>{368,92}</string>
                <key>textureRect</key>
                <string>{{1028,1728},{368,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/default/check_x3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,92}</string>
                <key>spriteSourceSize</key>
                <string>{552,92}</string>
                <key>textureRect</key>
                <string>{{1548,2},{552,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/button/default/normal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{184,92}</string>
                <key>textureRect</key>
                <string>{{1576,1278},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/default/normal_x2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,92}</string>
                <key>spriteSourceSize</key>
                <string>{368,92}</string>
                <key>textureRect</key>
                <string>{{1548,556},{368,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/button/default/normal_x3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,92}</string>
                <key>spriteSourceSize</key>
                <string>{552,92}</string>
                <key>textureRect</key>
                <string>{{1642,2},{552,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/button/default/select</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{184,92}</string>
                <key>textureRect</key>
                <string>{{1576,1372},{184,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/default/select_x2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,92}</string>
                <key>spriteSourceSize</key>
                <string>{368,92}</string>
                <key>textureRect</key>
                <string>{{1642,556},{368,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/button/default/select_x3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,92}</string>
                <key>spriteSourceSize</key>
                <string>{552,92}</string>
                <key>textureRect</key>
                <string>{{1028,1542},{552,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/help/normal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1736,822},{74,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/button/help/select</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1582,1556},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/other/minus_normal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1542,1466},{74,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/button/other/minus_select</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1674,1556},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/other/plus_normal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1528,1736},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/other/plus_select</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1542,1646},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/setting/normal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1604,1736},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/button/setting/select</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1634,1646},{90,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/div/div</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,4}</string>
                <key>spriteSourceSize</key>
                <string>{30,12}</string>
                <key>textureRect</key>
                <string>{{1542,880},{30,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/div/div_x16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,4}</string>
                <key>spriteSourceSize</key>
                <string>{480,12}</string>
                <key>textureRect</key>
                <string>{{2,1858},{480,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/div/div_x2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,4}</string>
                <key>spriteSourceSize</key>
                <string>{60,12}</string>
                <key>textureRect</key>
                <string>{{484,1858},{60,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/div/div_x32</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{876,4}</string>
                <key>spriteSourceSize</key>
                <string>{960,12}</string>
                <key>textureRect</key>
                <string>{{1542,2},{876,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/div/div_x4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,4}</string>
                <key>spriteSourceSize</key>
                <string>{120,12}</string>
                <key>textureRect</key>
                <string>{{2,1864},{120,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/div/div_x8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{240,4}</string>
                <key>spriteSourceSize</key>
                <string>{240,12}</string>
                <key>textureRect</key>
                <string>{{1794,2},{240,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/pixel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1398,1728},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/scroll/back1x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,128}</string>
                <key>spriteSourceSize</key>
                <string>{32,128}</string>
                <key>textureRect</key>
                <string>{{1762,1184},{32,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/scroll/back1x2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,256}</string>
                <key>spriteSourceSize</key>
                <string>{32,256}</string>
                <key>textureRect</key>
                <string>{{1542,1184},{32,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/scroll/back1x4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,512}</string>
                <key>spriteSourceSize</key>
                <string>{32,512}</string>
                <key>textureRect</key>
                <string>{{1028,1694},{32,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/scroll/button_active</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,83}</string>
                <key>spriteSourceSize</key>
                <string>{32,83}</string>
                <key>textureRect</key>
                <string>{{1766,1556},{32,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/scroll/button_normal</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,83}</string>
                <key>spriteSourceSize</key>
                <string>{32,83}</string>
                <key>textureRect</key>
                <string>{{1726,1646},{32,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/text/field/0.5x0.5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,28}</string>
                <key>textureRect</key>
                <string>{{1762,1314},{128,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/text/field/1x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,56}</string>
                <key>spriteSourceSize</key>
                <string>{256,56}</string>
                <key>textureRect</key>
                <string>{{744,1800},{256,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/text/field/2x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,56}</string>
                <key>spriteSourceSize</key>
                <string>{512,56}</string>
                <key>textureRect</key>
                <string>{{1028,1636},{512,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/text/field/scale9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1528,1810},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/text/label/1x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,56}</string>
                <key>spriteSourceSize</key>
                <string>{185,56}</string>
                <key>textureRect</key>
                <string>{{1736,559},{185,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/text/label/2x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,56}</string>
                <key>spriteSourceSize</key>
                <string>{370,56}</string>
                <key>textureRect</key>
                <string>{{1002,1822},{370,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/text/label/3x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,56}</string>
                <key>spriteSourceSize</key>
                <string>{555,56}</string>
                <key>textureRect</key>
                <string>{{1736,2},{555,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_new/text/label/4x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,56}</string>
                <key>spriteSourceSize</key>
                <string>{740,56}</string>
                <key>textureRect</key>
                <string>{{2,1800},{740,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/tooltip/default</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1680,1736},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/window/default/1x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1542,926},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/window/default/2x2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1028,1028},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/window/default/2x4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,1024}</string>
                <key>spriteSourceSize</key>
                <string>{512,1024}</string>
                <key>textureRect</key>
                <string>{{1028,2},{512,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/window/default/4x1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,256}</string>
                <key>textureRect</key>
                <string>{{2,1542},{1024,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/window/default/4x2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,512}</string>
                <key>spriteSourceSize</key>
                <string>{1024,512}</string>
                <key>textureRect</key>
                <string>{{2,1028},{1024,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_new/window/default/4x4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{2,2},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_new.png</string>
            <key>size</key>
            <string>{1810,1880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:817173c52b32c08a50294410b1120192:5f11146dcd01d1fcc37653b6eb383f17:3eaf5d9cb1a82068a9f9376d18267618$</string>
            <key>textureFileName</key>
            <string>ui_new.png</string>
        </dict>
    </dict>
</plist>
