<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_window/clan</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,97}</string>
                <key>spriteSize</key>
                <string>{414,318}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1434,1648},{414,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/color</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1028,2},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/color_change</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{2,1754},{512,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/craft</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1028,516},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/history</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,102}</string>
                <key>spriteSize</key>
                <string>{734,724}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{2,1028},{734,724}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/inventory_cargo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,110}</string>
                <key>spriteSize</key>
                <string>{188,292}</string>
                <key>spriteSourceSize</key>
                <string>{256,512}</string>
                <key>textureRect</key>
                <string>{{1850,1648},{188,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/inventory_inst</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{490,460}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1542,516},{490,460}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/items</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,34}</string>
                <key>spriteSize</key>
                <string>{246,150}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{738,1542},{246,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/login</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{738,1028},{512,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/login_sub</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{962,1864},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/main</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{2,2},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/map_frame</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{516,1754},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/msg_big</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{996,1030},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/quest</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1510,1134},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/repair</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{504,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,128}</string>
                <key>textureRect</key>
                <string>{{1542,1008},{504,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/repair_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{446,318}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{986,1544},{446,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/robot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,25}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{774,1694},{186,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/upgrade</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,0}</string>
                <key>spriteSize</key>
                <string>{450,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1542,2},{450,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_window_0.png</string>
            <key>size</key>
            <string>{2048,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac8321d83c3f8bd347ca9079aec7092:43202021962c60be6a0e98dffe894fba:8ea1e92838bc7326ccf7f24b0f0536cd$</string>
            <key>textureFileName</key>
            <string>ui_window_0.png</string>
        </dict>
    </dict>
</plist>
