<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_window/city_insurance</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-2}</string>
                <key>spriteSize</key>
                <string>{322,252}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{572,1030},{322,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/city_research</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,19}</string>
                <key>spriteSize</key>
                <string>{332,218}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{352,1030},{332,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/city_robot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,20}</string>
                <key>spriteSize</key>
                <string>{322,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{826,1030},{322,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/city_shop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,17}</string>
                <key>spriteSize</key>
                <string>{340,222}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{2,1030},{340,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/city_store_robots</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91,20}</string>
                <key>spriteSize</key>
                <string>{322,212}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{1160,174},{322,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/global_map</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{244,236}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1619,688},{244,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/help</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,396}</string>
                <key>spriteSourceSize</key>
                <string>{495,396}</string>
                <key>textureRect</key>
                <string>{{1032,516},{495,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/hero</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,33}</string>
                <key>spriteSize</key>
                <string>{248,446}</string>
                <key>spriteSourceSize</key>
                <string>{256,512}</string>
                <key>textureRect</key>
                <string>{{1430,438},{248,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/inventory_container</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,312}</string>
                <key>spriteSourceSize</key>
                <string>{187,312}</string>
                <key>textureRect</key>
                <string>{{1430,688},{187,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/location</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,24}</string>
                <key>spriteSize</key>
                <string>{434,454}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1430,2},{434,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/login_console</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{516,516},{512,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/menu_game</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,14}</string>
                <key>spriteSize</key>
                <string>{214,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1614,1102},{214,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/msg_middle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,256}</string>
                <key>spriteSourceSize</key>
                <string>{512,256}</string>
                <key>textureRect</key>
                <string>{{774,516},{512,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/msg_small</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,128}</string>
                <key>textureRect</key>
                <string>{{1030,2},{512,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/msg_small_system</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{340,124}</string>
                <key>spriteSourceSize</key>
                <string>{512,128}</string>
                <key>textureRect</key>
                <string>{{226,1030},{340,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/repair_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,89}</string>
                <key>spriteSize</key>
                <string>{196,316}</string>
                <key>spriteSourceSize</key>
                <string>{256,512}</string>
                <key>textureRect</key>
                <string>{{1416,1013},{196,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/research</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2,2},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/restore</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2,516},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/robot_tooltips</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,0}</string>
                <key>spriteSize</key>
                <string>{170,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1160,2},{170,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_window/teleport</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{516,2},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/trade</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,72}</string>
                <key>spriteSize</key>
                <string>{374,368}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1040,1013},{374,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_window/trade_robot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,16}</string>
                <key>spriteSize</key>
                <string>{174,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1619,926},{174,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_window_1.png</string>
            <key>size</key>
            <string>{1886,1383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac8321d83c3f8bd347ca9079aec7092:43202021962c60be6a0e98dffe894fba:8ea1e92838bc7326ccf7f24b0f0536cd$</string>
            <key>textureFileName</key>
            <string>ui_window_1.png</string>
        </dict>
    </dict>
</plist>
